/Jogo/nbproject/private/
/ADOaulaED/build/
/ListaDuplamenteEncadeada/nbproject/private/
/Exercicio1Aula6/nbproject/private/
/Aula6Exercicio1/nbproject/private/
/Aula6Exercicio1/build/
/ListaDuplamenteEncadeada/build/
/ListaDuplamenteEncadeada/dist/
/JogoED/nbproject/private/
/ListaDuplamenteCopia/nbproject/private/
/Simplesmente/nbproject/private/
/outra/nbproject/private/
/JogoED/build/
/Aula1ArvoreBinario/nbproject/private/
/Duplamente/nbproject/private/
/Aula1ArvoreBinario/build/
